BODY {
	font-family: "Roboto Condensed";
}

.st0 {
	fill: #F4CE09;
}

.st1 {
	fill: #5B5B5B;
}

.alert_big_margin {
	margin-top: 120px;
	margin-bottom: 160px;
}

.container {
    max-width: 970px;
}

.header {
    background: #fff;
    height: 81px;
    border-bottom: 1px solid #f4f4f4;
}

.header > div {
    display: inline-block;
    height: 100%;
}

svg:not(:root) {
    padding-top: 10px;
}

.phone:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f095";
    padding-right: 7px;
}

.mail:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0e0";
    padding-right: 7px;
}

.head_argue {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 400px;
    text-align: center;
}

.head_argue SPAN {
    line-height: 81px;
}

.svglogo {
    height: 81px;
    width: 310px;
    margin-right: 50px;
    float: left;
}

.svglogo H1 {
	margin: 0;
}

.infosection {
    height: 81px;
    float: right;
    padding-top: 20px;
}

.infosection A {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.infosection .phone {
	font-size: 16px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-transform: uppercase;
}

.infosection .mail {
	font-size: 14px;
	color: rgb(134, 134, 134);
	font-weight: bold;
	text-transform: uppercase;
}

.searchline {
    margin-top: 25px;
}

.selecter {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.search_button {
    color: #000;
    height: 38px;
    background-color: #f4ce09;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.row-content {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.col-lg-3.col-md-3.col-sm-4.col-xs-6 {
    margin-bottom: 20px;
    float: left;
}

.row-content H2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.img-responsive {
    width: 100%;
    height: 100%;
    position: relative;
}

.row-itemz {
    text-align: center;
    margin-top: 30px;
}

.itemz {
    position: relative;
    text-align: center;
}

.itemz:after {
    display: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #222;
    opacity: 0.5;
    content: '';
}

.itemz:hover.itemz:after {
    display: block;
}

.content .allc {
    display: block;
    color: #8a8a8a;
    text-align: center;
    font-size: 16px;
    color: rgb(138, 138, 138);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 45px;
    margin-top: 5px;
}

.prices {
    position: absolute;
    top: 6px;
    left: 0;
    background: #f4ce09;
    color: #000;
    padding: 7px 10px 5px 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
    z-index: 1;
    font-weight: bold;
}

.prices SPAN {
    font-weight: normal;
}

.infomachines {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    z-index: 1;
}

.infomachines P {
    margin-bottom: 0;
    padding-left: 10px;
}

.infomachines P:last-child {
   margin-bottom: 5px;
}

.title-name {
    font-style: oblique;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-top: 7px;
    
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.footer .container .row a.socseti {
    width: 34px;
    height: 34px;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    color: #000;
    margin-left: 10px;
}

.fa-facebook-f:before, .fa-facebook:before {
    top: 2px;
    position: relative;
}

.footer .container .row A.socseti:hover {
    opacity: 0.7;
}

.socseti.vk, .socseti.facebook {
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
}

.vk {
    margin-left: 30px;
    margin-right: 10px;
}

.footer {
    background: #f4f4f4;
    width: 100%;
    min-height: 68px;
    margin-top: 25px;
}

.footer .container .row DIV, .footer .container .row A {
    display: inline-block;
}

.footp1 SPAN, .footp2 A H5 {
    font-size: 14px;

    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.fltlft {
    float: left;
    padding-left: 30px;
}

.fltrght {
    float: right;
    padding-right: 30px;
}

.footp1 {
    width: 200px;
    margin-right: 20px;
    margin-top: 30px;
}

.footp2 {
    margin-top: 30px;
}

.footp3 {
    width: 264px;
    text-align: right;
}

.footp4, .footp5 {
    text-decoration: none;
}

.footp2 A H5 {
    font-weight: bold;
}

.footp3 A {
    font-size: 14px;

    color: rgb(0, 0, 0);
    text-decoration: underline;
}

@media (max-width: 991px) {
	.row-itemz > DIV {
		margin-bottom: 20px;
	}

	.mob {
		text-align: center;
	}
	.img-responsive {
		width: auto;
		height: auto;
	}
    .infosection {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .head_argue {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .head_argue SPAN {
        line-height: inherit;
    }
    
    .searchline {
        text-align: center;
        margin-top: 20px;
    }
    
    .selecter SPAN {
        text-align: left;
    }
    
    .selecter, .searchline INPUT {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .itemz {
        max-width: 213px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .col-lg-3 > P {
        text-align: center;
        padding: 0;
    }
    
    .header, .footer {
        height: auto;
    }
    
    .img-responsive {
        width: auto;
        height: auto;
    }
    
    .header .svglogo, .header .head_argue, .header .infosection {
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        float: none;
    }
    
    .header .infosection A {
        text-align: center;
        display: block;
    }
    
    .fltrght, .fltlft {
        float: none;
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .footp1, .footp2, .footp3, .footp4 {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .footp2 {
        margin-top: 10px;
    }
    
    .vk, .facebook {
        margin-left: 0;
        margin-top: 0 !important;
    }
    
    .mob {
        margin: 0 auto 10px auto;
        display: block !important;
        width: 82px;
        margin-top: 10px;
    }
    
    .footp1 {
        margin-top: 10px;
        margin-right: 0;
    }
}

@media (max-width: 503px) {
    .col-lg-3
    .col-md-3
    .col-sm-4
    .col-xs-6 {
    	width: 100%;
    }
    
    .svglogo {
    	height: auto;
        max-width: 300px;
        width: auto;
    }
    
    .head_argue {
        width: auto;
        font-size: 16px; 
    }
    
    .head_argue SPAN {
        line-height: inherit;
    }
}

.wrap-fotorama {
    position: relative;
}

.pagination.gusen-pag > LI > A,
.pagination.gusen-pag > LI > SPAN {
    color: #000;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;    
}

.pagination > LI > A:focus,
.pagination > LI > A:hover,
.pagination > LI > SPAN:focus,
.pagination > LI > SPAN:hover{
    background-color: #f4ce09;
}

.pagination > LI:last-child > A,
.pagination > LI:last-child > SPAN {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > LI:first-child > A,
.pagination > LI: first-child > SPAN {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.slider-header {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
	text-align: left;    
}

.price {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 20;
    background: #f4ce09;
    color: #000;
    padding: 7px 10px 5px 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}

.row.row-info H1 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    margin-top: 10px;
}

.row.row-info P {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;
    line-height: 1.6;
}

.row.row-auth DIV, .row.row-auth A {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.row.row-auth DIV {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.row.row-info .main_inf {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 5px 0 5px 15px;
    background: #f5f5f5;
    margin-bottom: 15px;
    margin-top: 0;
}

.media-list A.socseti .fa {
    position: relative;
    top: 3px;
}
.row.row-auth .fa .fa-facebook {
    top: 2px;
}
.fotorama__nav-wrap {
    position: absolute;
    bottom: 0;
}
.row.row-info {
    margin-top: 25px;
}

.row-info DIV {
	margin-bottom: 15px;
}

.line-w{
    width: 100%;
    height: 1px;
    background-color: #f4f4f4;
    margin: 25px 0 25px 0;
}

.main_block.user {
    margin-bottom: 5px;
    padding: 0 15px;
}

.wrap_com textarea {
    width: 100%;
    float: left;
    padding: 10px 10px 35px 10px;
    box-sizing: border-box;
    position: relative;
    background: #f5f5f5;
    color: #999999;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

FORM .symbol {
    right: 10px;
    bottom: -103px;
}

.comment-button {
    display: block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #000;
    clear: both;
    margin-left: 15px;
    position: relative;
    top: 10px;
    float: left;
}

.comment-button:hover {
    background: #000;
    color: #fff;
    opacity: 0.7;
}

.symbol {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
    position: absolute;
    margin: 0;
}

.comments .row .row-comments {
    margin-bottom: 25px;
}

.media-body P {
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
    background: #f5f5f5;
    color: #999999;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.comment_ph.col-md-1 {
    display: inline-block;
    margin-right: 10px;
}

.media-heading A {
    margin-left: 10px;
}

.media-object {
	width: 55px;
}

.fa-facebook-f:before,
.fa-facebook:before {
	left: 2px;
}

.media-list A.socseti .fa.fa-vk {
    left: 2px;
}

.media-body A {
    font-size: 14px;
    color: #999;
}         

P.hidden-txt {
    font-style: italic;
    color: #dedede;
}

.media-list A.socseti {
	margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #222;
    width: 34px;
    height: 34px;
    text-align: center;
    background: #f4ce09;
}

.wrap_com TEXTAREA {
    color: #666;	
}

FORM.wrap_com {
    position: relative;
}

.media-body {
    overflow: visible;
    padding: 0 0 10px 0;
}

SPAN#resp {
    float: left;
    margin-top: 21px;
    margin-left: 15px;
}

UL.pagination.gusen-pag {
	width: 100%;
	text-align: center;
}

.pagination > LI {
	display: inline-block;
}

@media (max-width: 991px) {
	.img-responsive {
    	width: 100%;
    }
	.title-name {
		text-align: center;
	}
}

.selecter-selected { 
    padding: 10px 50px 10px 15px;
    text-overflow: ellipsis;
}

.admin_page_unit_list_div {
	margin-bottom: 15px;
}

.admin_page_unit_list_div IMG {
	margin: 0 10px 10px 0;
}

.navbar {
	margin-bottom: 10px;
}

.media-list A.socseti:hover {
	opacity: 0.7;
}

.row-content A {
    color: #000;
}

.alert_big_margin.alert.alert-info {
	background-color: #f4ce09;
	border-color: #f4f4f4;
	border-radius: 0px;
	color: #1b1b1b;
}

.slider-header H2,
.slider-header H3 {
	overflow: visible;
    margin: 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display: inline-block;
}

.title-category:before {
    margin-left: -100%;
    left: -12px;
}

.title-category:after, .title-category:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #868686;
    border: solid #FFF;
    border-width: 0 1px;
    position: relative;
}

.title-category {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-category:after {
    margin-right: -100%;
    right: -12px;
}

.fa.fa-google {
    left: 2px;
}

.btn.dropdown-toggle.btn-default {
    border-radius: 0px;
    z-index: 3;
    background: transparent;
    background-image: url(/img/searchcursor.png);
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
    height: 40px;
    padding-right: 42px;
}

.form-control {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-option {
    text-overflow: ellipsis;
}

.bs-caret {
    display: none;
}

.open > .dropdown-toggle.btn-default:hover,
.btn-default:hover{
    background-color:#f4f4f4;
}
    
.dropdown-toggle:focus {
    outline: thin dotted #333!important;
    outline: 5px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}

@media (max-width: 991px){
    .form-control {
        max-width: 400px;
        margin-left: auto;
    }
}

.slider-header H2:hover {
	text-decoration: underline;
}

.cur_page SPAN {
    font-weight: bold;
}
