HTML, BODY { margin: 0px; padding: 0px; border: 0px; }

.main_block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
}

.header {
    margin-bottom: 10px;
}

.header A {
    text-decoration: none;
    color: black;
}

.header H3 {
    clear: right;
    float: right;
    margin-top: 0;
    margin-bottom: 5px;
}

.header H4 {
    margin-left: 25px;
}

.search {
    margin-bottom: 10px;
}

.unit {
    display: block;
    float: left;
    width: 100%;
    min-width: 350px;
    box-sizing: border-box;

}

.unit IMG {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer {
    clear: both;
    height: 80px;
    text-align: right;    
}

.search FORM SELECT,INPUT {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.content H3 {
    text-align: center;
}

.paginator {
    text-align: center;
}

.paginator A {
    text-decoration: none;
}

#thumbImg {
    width: 100%;
}

#thumbImg A IMG {
    padding-bottom: 5px;
}

#thumbImg A IMG:nth-child(odd) {
    padding-right: 5px;
}